body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #F5F5F5;
}

/*//////////////////////////////////////////*/

.header {
    width: 100%;
    border: solid;
    display: flex;
    margin: auto;
    justify-content: space-between; 
    border-radius: 7px;
    color: navy;
    font-size: 1.15em;
}

.menu {
    padding: 4px;
    margin: 3px;
    display: inline-flex;
}

div .menu {
    display: flex;
    justify-content: flex-end;
}
.menu a{
    text-decoration: none;
    margin: 0 5px;
    color: navy;
}

a.active {
    background-color: rgb(2, 96, 184);
    border: solid black;
    border-radius: 7px;
    color: white;
} 

/*//////////////////////////////////////////*/

        .gallery {
            display: grid;
            grid-template-columns: 50% 25% 25%;
            grid-template-rows: 1fr;            
            width: 97%;
            height: 250px;
            padding: 10px 0;
        }

        .left-img {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            overflow: hidden;
        }

        .right-img {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            overflow: hidden;
        }

        .column-right-img {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            display: grid;
            grid-template-rows: 1fr 1fr;       
            gap: 0;
            overflow: hidden;
        }

        .top-img {
            overflow: hidden;
        }
        .bottom-img {
            overflow: hidden;
        }

        .gallery img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }

/*//////////////////////////////////////////*/

.article {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 5px 0;
}

.article img {
    float: right;
    height: 200px;
    width: 50%;
    margin: 10px 10px 10px 20px;
    object-fit: cover;
}

.article h3 {
    text-align: center;
}

.a_right {
    float: right;
}

.article .left{
    float: left;
    width: 25%;
    margin: 0px 20px 10px 10px;
}

/*//////////////////////////////////////////*/

.aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
}

.aside img {
    float: right;
    height: 130px;
    width: 45%;
    margin: 0px 2px 0 15px;
    object-fit: cover;
}

span {
    font-weight: bold;
    float: right;
    font-size: 1.1em;
}

/*//////////////////////////////////////////*/

footer {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;;
    background: #E3E3E3;
    color: #164B69;
    text-align: center;
}

/*//////////////////////////////////////////*/

@media (max-width: 700px){
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header > .menu:last-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .header > .menu:last-child a {
        flex: 0 0 45%;
        text-align: center;
    }


    .gallery {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .article {
        width: 100%;
    }
    .article .left,
    .article img {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    

    .aside {
        width: 100%;
    }
    .aside img {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    span {
        font-weight: bold;
        float:none;
        font-size: 1.3em;
    }
    .aside a{
        margin: 0 0 10px 0;
    }
}










