body {
    background-color: #c7f6fc;
}

.header {
    border: solid;
    display: block;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
    color: navy;
    font-size: 1.15em;
}

.menu {
    padding: 4px;
    margin: 3px;
    display: inline-block;
}

a.menu {
    float: right;
    text-decoration: none;
}

.active {
    background-color: rgb(2, 96, 184);
    border: solid black;
    border-radius: 7px;
    color: white;
} 

/*//////////////////////////////////////////////////////////////////////////*/

.gallery {
    padding: 10px;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    font-size: 0; 
}

.big-left {
    display: inline-block;
    width: 33.3333%;
    height: 100%;
    vertical-align: top;
}

.right {
    display: inline-block;
    width: 66.6666%;
    height: 100%;
    vertical-align: top;
}

.wide {
    display: block;
    width: 100%;
    height: 33.334%;
}

.bottom {
    display: block;
    width: 100%;
    height: 66.666%;
    font-size: 0;
}

.cube {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*для масштабирования красивого*/
}

/*//////////////////////////////////////////////////////////////////////////*/

.pink {
    background: #ffc0d6;
}

.cyan {
    background: #7fe3ee;
}

.albums {
    display: block;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
}

/**/


.album.left_album {
    display: inline-block;
    width: 24%;
    min-height: 856px;
    vertical-align: top;
    background: #b8c7ce;
    border-radius: 25px;
    padding: 15px 1%;
    font-size: 14px;
    margin-right: 1%;
}

/**/

.right_album {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: top;
    font-size: 0;
}

.column {
    display: inline-block;
    width: 33%;
    height: 100%;
    font-size: 0;
}

/**/

.album.half {
    min-height: 425px;
    height: 49.5%;
    padding: 5%;
    margin-bottom: 8px;
}

.album a {
    font-size: 17px;
}

/**/

.right_stack {
    display: inline-block;
    width: 66%;
    height: 100%;
    vertical-align: top;
    margin-left: 1%;
    font-size: 0;
}

/**/

.row {
    display: block;
    height: 25%;
    padding: 0 2% 8px 2%;
}

.row:last-child {
    padding-bottom: 0; /* для отступа последнего */
}

.album {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-radius: 25px;
    padding: 15px 2%;
    font-size: 17px;
    box-sizing: border-box; /* чтобы ни че не слетело */
    height: 100%;
}

.album img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 8px;
}

.row {
    display: block;
    height: 25%;
    padding: 0 2% 8px 2%;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
}

.pinkrow {
    float: left;
    box-sizing: border-box;
    padding: 5px 1%;
    height: 100%;
}

.cyanrow {
    float: right;
    box-sizing: border-box; 
    padding: 5px 1%;
    height: 100%;
}

.title {
    width: 22%;
    font-weight: bold;
}

.text {
    width: 45%;
    position: relative; /* зависимое полоежение чтоб не вылезло*/
}

.imagerow {
    width: 30%;
    text-align: right;
}

.album h3 {
    font-size: 17px;
    margin: 0;
}

.album p {
    font-size: 14px;
    margin: 0 0 15px 0;
    text-align: justify;
}

.album a {
    font-size: 17px;
}

.a_pink {
    float: right;
}